@charset "utf-8";
/* CSS Document */

.button {
   border-top: 1px solid #ffaa00;
   background: #ff8c00;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff9500), to(#ff8c00));
   background: -webkit-linear-gradient(top, #ff9500, #ff8c00);
   background: -moz-linear-gradient(top, #ff9500, #ff8c00);
   background: -ms-linear-gradient(top, #ff9500, #ff8c00);
   background: -o-linear-gradient(top, #ff9500, #ff8c00);
   padding: 6.5px 13px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }